@model IEnumerable<Mvcgrundprojekt.Models.ShoppingCartModel>

@{
    ViewBag.Title = "AddToCart";
}

<h2>AddToCart</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.imgUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmountPerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalPrice)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.imgUrl" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.EditorFor(modelItem => item.TotalAmountPerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalPrice)
        </td>
        <td>
            @Html.ActionLink("Spara", "Save", new { item.ProductID })
            @Html.ActionLink("Ta bort", "Delete", new { item.ProductID })
        </td>
    </tr>
}

</table>
