@model IEnumerable<Mvcgrundprojekt.Models.CheckOutModel>

@{
    ViewBag.Title = "CheckOut";
}

<h2>CheckOut</h2>

@foreach (var item in Model.Take(1)){
            @Html.DisplayFor(modelItem => item.Firstname) <text> </text>
            @Html.DisplayFor(modelItem => item.Lastname)<br />
            @Html.DisplayFor(modelItem => item.Address)<br />
            @Html.DisplayFor(modelItem => item.Personnumber)<br />
            @Html.DisplayFor(modelItem => item.PhoneNumber)<br />
            @Html.DisplayFor(modelItem => item.Email)<br />
}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmountPerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalPrice)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                <img src="@item.imgUrl" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmountPerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
        </tr>
    }


</table>
