@model IEnumerable<Mvcgrundprojekt.Models.CheckOutModel>

@{
    ViewBag.Title = "CheckOut";
}

<h2>CheckOut</h2>

@{ 


}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmountPerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalPrice)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Personnumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imgUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmountPerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalPrice)
        </td>
    </tr>
}


</table>
