@model IEnumerable<Mvcgrundprojekt.Models.ProductModel>

@{
    ViewBag.Title = "Index";
}

    <body class="webshop-body">

        </div>
        <!-- Contact Kundvagn -->
            <section id="webshop-id" class="content-section text-center">
                <div class="webshop-section">
                    <div class="container">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h1 class="webshop-header">Go down for our webshop at Bean Brothers brews!</h1>
                            <a href="#webshop-products" class="btn btn-default btn-lg page-scroll">Go down</a><br><br>
                        </div>
                    </div>
                </div>
            </section>

        <!-- Sök rutan -->
        <section id="webshop-products" class="container">
            <div class="row">
                <div class="col-lg-12" id="seach-for-products-text">
                    <br />
                    <br />
                    <form action="/Product/" method="post" class="form-inline">
                        <div class="form-group">
                            <input class="form-control" name="search" placeholder="Search" type="text" />
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form><br><br>
                    <br />
                    @{
                        if ((bool)Session["admin"])
                        {
                            @Html.ActionLink("Add new product", "AddNewProduct")  <br /><br />
                        }
                    }                    
                    @*@Html.ActionLink("Edit", "Edit", new { item.ProductID }) |
                    @Html.ActionLink("Lägg till i varukorg", "AddToCart", "ShoppingCart", new { item.ProductID }, null) |
                    @Html.ActionLink("Delete", "Delete", new { item.ProductID })*@
                </div>
                <br />

                <!-- ---------------- Bilderna och kolumerna, 3 på varje ----------------  -->
                <!-- Foreach som skriver ut varje produkt enligt dessa hänvisningarna, gör en ruta i en 3 radscolumn med responsiva bilder -->
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-4">
                        <div id="wrapper">
                            <img src="@item.ImgUrl" class="img-responsive thumbnail" id="hover-pics" style="width:100%" alt="Image">
                            <p class="text">@Html.DisplayFor(modelItem => item.ProductName)</p>
                        </div>
                        <div class="col-md-12  col-sm-12" id="product-sammanfattning">

                            <p id="product-text">@Html.DisplayFor(modelItem => item.ProductName)</p>
                            <p id="product-text">ID: @Html.DisplayFor(modelItem => item.ProductID)</p>
                            <p id="product-text">Name: @Html.DisplayFor(modelItem => item.ProductName)</p>
                            <p id="product-text">Type: @Html.DisplayFor(modelItem => item.ProductType)</p>
                            <p id="product-text">Country: @Html.DisplayFor(modelItem => item.ProductCountry)</p>
                            <p id="product-text">Price: @Html.DisplayFor(modelItem => item.Price)</p>

                            @*@Html.DisplayFor(modelItem => item.Description)*@

                            <p id="product-text">In stock: @Html.DisplayFor(modelItem => item.Amount)</p>
                            @{
                                if ((bool)Session["admin"])
                                {
                                    <span>
                                        <a href="@Url.Action("Edit", "product", new { item.ProductID })"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                                    </span>
                                }
                            } 
                            
                            @*<div>@Html.DisplayFor(modelItem => item.Description)</div>*@
                        </div>
                        <button class="btn btn-default btn-lg" id="add-to-shoppingcart-btn"> @Ajax.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { item.ProductID }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "window.location.reload()" }, new { @class = "add-to-cart-hyperlink" })</button>

                    </div>
                }
            </div>
        </section>
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
    </body>